[project]
	description = Google Pixel XL Device Tree
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/RTLflat (RTLflat)
[access "refs/for/refs/*"]
	read = group user/RTLflat (RTLflat)
	push = group user/RTLflat (RTLflat)
	label-Code-Review = -2..+2 group user/RTLflat (RTLflat)
	label-Verified = -1..+1 group user/RTLflat (RTLflat)
	rebase = group user/RTLflat (RTLflat)
	removeReviewer = group user/RTLflat (RTLflat)
	submit = group user/RTLflat (RTLflat)
[access "refs/heads/*"]
	read = group user/RTLflat (RTLflat)
	create = group user/RTLflat (RTLflat)
	push = +force group user/RTLflat (RTLflat)
	pushMerge = group user/RTLflat (RTLflat)
[access "refs/tags/*"]
	push = group user/RTLflat (RTLflat)
	push = +force group user/RTLflat (RTLflat)
